<div class="row">
	<div class="col-4">
{{ form_start(form) }}
	<div class="col-4">
    {{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    <div class="col-4">
{{ form_end(form) }}
</div>
</div>
</div>
</div>