{% extends 'base.html.twig' %}

{% block title %}Modifier le Bien{% endblock %}

{% block body %}
    <h1>Modifier le Bien</h1>

    {{ include('bien/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('bien_index') }}">Retour à la liste</a>

    {{ include('bien/_delete_form.html.twig') }}
{% endblock %}
