{% extends 'base.html.twig' %}

{% block title %}Nouveau Bien{% endblock %}

{% block body %}
    <h1 class="text-default">Créer un nouveau Bien</h1>

    {{ include('bien/_form.html.twig') }}

    <a href="{{ path('bien_index') }}">Retour à la liste</a>
{% endblock %}
